/* Header sytling */
.header {
  display: grid;

  /* grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headerarea1 headerarea2";
  background-color: rgb(252, 248, 248);
}
.headerarea1 {
  grid-area: headerarea1;

  margin-left: 15px;
  margin-top: 15px;
}
.headerarea2 {
  grid-area: headerarea2;
}

.headerarea2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "item1" "item2";
}
li {
  display: inline-block;
}
.item1 {
  grid-area: item1;
  text-align: center;
  margin-top: 50px;
}
.item2 {
  grid-area: item2;
  text-align: center;
  padding-top: 10px;
}

.headerarea2 ul {
  list-style-type: none;
  font-size: 20px;
}
.item1 span {
  margin-right: 5px;
  font-weight: 100;
  color: rgb(58, 55, 55);
}
.item2 .fab {
  font-size: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.fa-envelope {
  margin-left: 5px;
}
.item2 .fa-facebook {
  color: #35599b;
}
.item2 .fa-twitter {
  color: #00acee;
}
.item2 .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fab:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 1s;
}
@media only screen and (max-width: 735px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .logoheader {
    height: 110px;
    width: 100%;
    
  }
  .headerarea2 {
    margin-top: 0;
  }
  .item1 {
    margin-top: 0;
    
    margin-bottom: 0;
    height: 60px;
  }

  .fab {
    font-size: 40px;
    margin-bottom: 2px;
  }
}

/* Header end */