 master
*{
  box-sizing: border-box;
}
nav{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d5050;
  font-family: 'Fira Sans', sans-serif;
}

.home{
  color: wheat;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}

.navlinks{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 40%;
}

.navlinks a{
  text-decoration: none;
  color: wheat;
  letter-spacing: 2px;
}

.dropbtn {
  background-color: #5d5050;
  color: wheat;
  font-size: 16px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
}

.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #5d5050;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: azure;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #4d4b48
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #5d5050;
}

a{
  text-decoration: none;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: wheat;
  margin: 3px;
  border-radius: 4px;
  transition: all 0.3s ease;
}


@media screen and (max-width: 1040px)
{
  .navlinks{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 60%;
  }
}

@media screen and (max-width: 768px)
{
  body{
    overflow-x: hidden;
  }
  .navlinks{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d5050;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    }

    .navlinks li {
      opacity: 0;
    }
    .burger{
      display: block;
      cursor: pointer;
    }
    .nav-active{
      transform: translateX(0%);
    }
    .dropdown:hover .dropdown-content {
      display: inline;
    }
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-1px, 6px);;
}
.toggle .line2{
  opacity: 0; 
}
.toggle .line3{
  transform: rotate(45deg) translate(-2px, -7px); 
}

/* Header sytling */
.header {
  display: grid;

  /* grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr)); */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "headerarea1 headerarea2";
  background-color: rgb(252, 248, 248);
}
.headerarea1 {
  grid-area: headerarea1;

  margin-left: 15px;
  margin-top: 15px;
}
.headerarea2 {
  grid-area: headerarea2;
}

.headerarea2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "item1" "item2";
}
li {
  display: inline-block;
}
.item1 {
  grid-area: item1;
  text-align: center;
  margin-top: 50px;
}
.item2 {
  grid-area: item2;
  text-align: center;
  padding-top: 10px;
}

.headerarea2 ul {
  list-style-type: none;
  font-size: 20px;
}
.item1 span {
  margin-right: 5px;
  font-weight: 100;
  color: rgb(58, 55, 55);
}
.item2 .fab {
  font-size: 50px;
  padding-right: 20px;
  padding-left: 20px;
}
.fa-envelope {
  margin-left: 5px;
}
.item2 .fa-facebook {
  color: #35599b;
}
.item2 .fa-twitter {
  color: #00acee;
}
.item2 .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fab:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  transition: 1s;
}
@media only screen and (max-width: 735px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .logoheader {
    height: 110px;
    width: 100%;
    
  }
  .headerarea2 {
    margin-top: 0;
  }
  .item1 {
    margin-top: 0;
    
    margin-bottom: 0;
    height: 60px;
  }

  .fab {
    font-size: 40px;
    margin-bottom: 2px;
  }
}

/* Header end */
master
